$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-headers: 'Oxygen', $font-family-sans-serif;

@import 'bootstrap-sprockets';
@import 'bootstrap';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headers;
}

.priority {
  span {
    display: none;
  }

  &.p1 {
    span:nth-child(1) {
      display: inline;
    }
  }

  &.p2 {
    span:nth-child(2) {
      display: inline;
    }
  }

  &.p3 {
    span:nth-child(3) {
      display: inline;
    }
  }
}

.row.checkbox > button {
  margin-left: 20px;
}

.glyphicon {
  margin-left: 8px;
  top: 2px;
}
